body { 
	font-family: Calibri;
}

#gadgetBackground
{
	position: absolute;
	z-index: -1;
}

#gadgetContent
{
	position:absolute;
	overflow: hidden;
	z-index: 1;
}

#entries {
	list-style-type: none;
	margin-left: 0px;
}
.entry {
	margin-bottom: 1px;
	background: #B3F2FE;
}
.text { 
	 
}
.info { 
	color: #555555; 
	text-align: right;
}
a.author { 
	color: #555555; 
	text-decoration: none;
}
.timestamp { 
	font-style: italic; 
}

#status, #div-post {
	color: #444444;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	position: absolute;
	z-index: 2;
	width: 117px;
	left: 7px;
	background-color: #6DD9F6;
	padding:2px;
	text-align: center;
}

#heading-post {
	width: 100%;
	text-decoration: none;
}

#textarea-post {
	font-family: Calibri;
	font-size: 8pt;
	width: 90%;
	overflow: auto;
}

#span-characters {
	width: 18px;
	margin-right: 5px;
	text-align: right;
}

.warn {
	color: red;
}

#button-post {
	font-family: Calibri;
	font-size: 8pt;
}