body { 
	font-family: Calibri;
}
#entries {
	list-style-type: none;
	margin-left: 0px;
}
.entry {
	margin-bottom: 2px;
	background: #eeeeee;
}
.text { 
	 
}
.info { 
	color: #555555; 
	background: #cccccc;
}
.timestamp { 
	font-style: italic; 
}
#status, #div-post {
	color: #444444;
	border: 2px solid #ffff33;
	position: absolute;
	z-index: 1;
	width: 100%;
	left: 0px;
	background-color: #ffff99;
	padding:2px;
	text-align: center;
}

#status {
	top: 0px;
}
#div-post {
	bottom: 0px;
}
#heading-post {
	width: 100%;
	cursor: pointer;
}
#textarea-post {
	font-family: Calibri;
	font-size: 8pt;
	width: 90%;
	overflow: auto;
}
#span-characters {
	width: 18px;
	margin-right: 5px;
	text-align: right;
}
.warn {
	color: red;
}
#button-post {
	font-family: Calibri;
	font-size: 8pt;
}